{% load static %}

<!DOCTYPE html>
<html>

<head>
	    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/f1/css/fontello.css' %}">

	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

	{% if title %}
		<title>Progress GPS - {{ title }}</title>
	{% else %}
		<title>Progress GPS</title>
	{% endif %}




    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 

<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>

</head>


<body>
	<!-- Navigation Bar -->
	<div class="topbar blur">
      	<div class="header-text blur-w">
      		PROGRESS GPS - panel pracownika
      	</div>

      	<!-- Search From -->
      	<form method="GET" action="/search/">
	      	<div class="search-form">
	      		<input type="text" name="q" class="form-control" placeholder="Wyszukaj...">
	      	</div>
      	</form>

        <!-- Navbar Right Side -->
        <div class="topbar-auth" >
          {% if user.is_authenticated %}
          <!--img src='static/img/markru.png' alt="User" class="img-thumbnail"-->

          <a href="{% url 'blog-logout' %}" class="logout-button"><i class="icon-logout"></i></a>
          {% else %}

          <a class="login-link" style="background-color:#101D1E" href="{% url 'blog-login' %}">Zaloguj</a>
          <a class="login-link" href="#">Zarejestruj</a>
          {% endif %}
        </div>
	</div>
		<!-- End of: Navigation Bar -->

	<!-- Content Block -->
	{% block login_content %}
	{% endblock login_content %}
	{% if user.is_authenticated %}

	{% include "blog/sidebar.html" %}
	<main role="main" class="main-container">
	      {% block content %}{% endblock %}
	      
	</main>
	{% else %}
		
	{% endif %}
	<!-- End of: Content Block -->

	<!--{% include "blog/footer.html" %}-->
	    <!-- Optional JavaScript -->





</body>


</html>
