
.icon-phone:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-phone-1:before { content: '\e803'; } /* '' */
.icon-off:before { content: '\e804'; } /* '' */